---
import { getCollection } from "astro:content";
import { getPhotosByNamesAndTags } from "../lib/photoHelper";
import Layout from "../components/layout_components/layout.astro";
import AnnotatedLink from "../components/prose_components/annotatedLink.astro";
import TextContainer from "../components/prose_components/textContainer.astro";

export async function getStaticPaths() {
    const photoProjects = await getCollection("photo");
    return photoProjects.map((props) => ({
        params: { photo: props.slug },
        props: { props },
    }));
}

const {
    props: { data, ...props },
} = Astro.props;
const { Content } = await props.render();

const photos = getPhotosByNamesAndTags(data);
const firstPhoto = photos.shift();
---

<Layout title={data.title} includeBottomNav={false}>
    <main class="px-4 w-full max-w-3xl">
        {firstPhoto && <figure
            class="relative w-full sm:mt-[1.7rem] sm:mb-[20svh] mt-20 mb-20"
        >
            <img src={firstPhoto.paths.large} alt={firstPhoto.joinedCaption} />
            <figcaption class="absolute bottom-[-1.8em] right-0 font-semibold text-sm">
                {firstPhoto.joinedCaption}
            </figcaption>
        </figure>}
        <TextContainer {...data}>
            <Content components={{ a: AnnotatedLink }} />
        </TextContainer>
        <div
            class="w-full mt-[50vh]"
        >
            {
                photos.map((p) => {
                    const width = (768 * Math.sqrt(p.ratio) / Math.sqrt(3/2));
                    const height = width/p.ratio;
                    return <div class="flex justify-center" style={`margin: max(200px, calc(50svh - ${(height/2)}px)) 0;`}>
                        <figure class="relative max-w-full" style={`width: ${width}px;`}>
                            <img src={p.paths.medium} />
                            <figcaption class="font-semibold text-sm">
                                {p.joinedCaption}
                            </figcaption>
                        </figure>
                    </div>
                })
            }
        </div>
    </main>
    <footer class="mb-[50svh] mt-[20vh]">
        <span>More</span>
        <AnnotatedLink type="underline" staticUnderline={false} href="/links" class:list={"hover:mx-1"}>photography</AnnotatedLink>
        <span>-&gt;</span>
    </footer>
</Layout>
