---
import Navbar from "../components/layout_components/navbar.astro";
import { LINKS } from "../lib/linkHelper";
import ProjectCard from "../components/layout_components/projectCard.astro";
import MdLink from "../components/prose_components/mdLink.astro";
import Layout from "../components/layout_components/layout.astro";
---

<Layout pointerCenterWidth={28*16 + 64}>
    <Navbar />
    <main class="w-full flex flex-col gap-5 pt-8 mb-[50vh]">

        <ProjectCard key="about" largeImage={true} shuffle={true} lazy={false} images={[
            {
                photoName: "2024-05-13-high-castle-london",
                frame: {
                    type: "shadow",
                    color: "black",
                    size: 4
                }
            },
            {
                photoName: "2021-01-14-north-atlantic-pennance-point",
                frame: {
                    type: "border",
                    color: "#e2e8f0",
                    size: 4
                }
            },
            {
                photoName: "film-pigeon-8",
                frame: {
                    type: "border",
                    color: "#0000000a",
                    size: 3,
                }
            },
            {
                photoName: "2019-08-31-cycling-gudmundsen-drive-door-county",
                frame: {
                    type: "shadow",
                    color: "#5762512e",
                    size: 4,
                }
            },
            {
                photoName: "2021-11-02-jubilee-pool-penzance",
                frame: {
                    type: "border",
                    color: "#e68d500a",
                    size: 4
                }
            },
        ]}>
            <span slot="bottomright"class="leading-7 select-none">
                <span class="text-[#00ffff]">●</span>
                <span class="text-[#ff00ff]">●</span>
                <span class="text-[#ffff00]">●</span>
                <span>●</span>
            </span>
        </ProjectCard>

        <ProjectCard key="palimpsest" images={[
            {
                photoName: "2024-04-26-treasure-isle-of-wight",
                frame: {
                    type: "shadow",
                    color: "#020f03",
                    size: 4
                }
            },
            {
                photoName: "2024-04-26-forest-library-isle-of-wight",
                frame: {
                    type: "border",
                    size: 3,
                    color: "#C8CDB9",
                }
            },
            {
                photoName: "2024-05-17-bear-witness-belsize-park",
                frame: {
                    type: "border",
                    size: 4,
                    color: "#0A0907",
                }
            },
            {
                photoName: "2024-10-26-tailor-petofi-sandor-street-budapest",
                frame: {
                    type: "border",
                    color: "#2939256e",
                    size: 3
                }
            },
        ]} />

        <ProjectCard key="pigeon" images={[
            {
                photoName: "film-pigeon-1",
                frame: { type: "border", size: 3, color: "#0000000a" },
            },
            {
                photoName: "2024-07-30-20240730-dsc_0145",
                frame: { type: "border", size: 4, color: "#b8d8f600" }
            },
            {
                photoName: "pigeon-psd-32",
                frame: { type: "shadow", size: 4, color: "#241e20" },
            },
        ]} />

        <ProjectCard key="lingermyth" shuffle={true} photos={[ "2024-05-30-lingermyth-p3233", "2024-05-30-lingermyth-front-back-covers", "2024-05-30-lingermyth-p45", "2024-05-30-lingermyth-p5052", "2024-05-30-lingermyth-p23" ]} />

        <ProjectCard key="on-yearning" images={{photoName: "2021-06-20-yearning-door", frame: { type: "shadow", size: 4 }}} />

        <ProjectCard key="wiki" images={{src: "/media/wiki.gif", frame: { type: "shadow", size: 4 }, alt: "24 Dutch Children in a Phone Booth. From Wikimedia Commons."}} />

        <ProjectCard key="horizons" shuffle={true} images={[
            {
                photoName: "2020-07-02-daybreak-door", 
                frame: { type: "shadow", size: 4, color: "#bed7f23b" }
            },
            {
                photoName: "2021-02-26-north-atlantic-facing-south", 
                frame: { type: "border", size: 4, color: "#fef1ee57" }
            },
            {
                photoName: "2021-03-28-moonglow-lake-michigan", 
                frame: { type: "border", size: 4 }
            },
        ]} />

        <!-- <ProjectCard key="heartland" images={[
            {
                photoName: "2018-10-21-tall-corn-chimney-swifts-wisconsin", 
                frame: { type: "shadow", size: 4, color: "#2e1804" }
            },
            {
                photoName: "2018-09-01-katydid-cattails-ulau-creek-wisconsin", 
                frame: { type: "border", size: 4, color: "#e39c2c29" }
            },
            {
                photoName: "2020-04-30-last-call-wisconsin", 
                frame: { type: "shadow", size: 4 }
            },
        ]} /> -->

    </main>
    <footer class="mt-0.5 mb-96 w-full px-8 flex flex-col items-center">
            <div class="border-t border-black dark:border-white relative max-w-md w-full px-2">
                <p class="pt-6">
                    <i>View old versions of this website:</i><br/>
                    <MdLink href="https://v6.duncanpetrie.com/">2024</MdLink> /
                    <MdLink href="https://v5.duncanpetrie.com/">2023</MdLink> /
                    <MdLink href="https://v4.duncanpetrie.com/">2022</MdLink> /
                    <MdLink href="https://v3.duncanpetrie.com/">2021</MdLink> /
                    <MdLink href="https://v2.duncanpetrie.com/">2020</MdLink> /
                    <MdLink href="https://v1.duncanpetrie.com/">2019</MdLink>
                </p>
            </div>
        </footer>
</Layout>