---
import { getPhotoByName as p } from "../lib/photoHelper";
import { Content } from "../content/snippets/about.mdx";
import AnnotatedLink from "../components/prose_components/annotatedLink.astro";
import astroConfig from "../../astro.config.mjs";
import "../styles/global.css";

const title = "Duncan Petrie";
const description =
    "Duncan Petrie is a London-based photographer and writer from Milwaukee, Wisconsin. He explores nature in the human landscape, and what the world might look like when we are gone.";
const metaImgPath = p("2024-05-25-la-corbiere-st-brelade-jersey").paths.medium;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
    <head>
        <meta charset="utf-8" />

        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href={astroConfig.base + "/apple-touch-icon.png"}
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href={astroConfig.base + "/favicon-32x32.png"}
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href={astroConfig.base + "/favicon-16x16.png"}
        />

        <link rel="manifest" href={astroConfig.base + "/site.webmanifest"} />
        <link rel="canonical" href={canonicalURL} />
        <meta name="viewport" content="width=device-width" />

        <title>{title}</title>
        <meta name="title" content={title} />
        <meta name="description" content={description} />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={new URL(metaImgPath, Astro.url)} />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        <meta
            property="twitter:image"
            content={new URL(metaImgPath, Astro.url)}
        />
    </head>
    <body>
        <nav
            class="text-sm font-semibold z-10 flex justify-between bg-white border-b-2 border-b-black fixed top-0 left-0 w-[calc(100%-2rem)] mx-4 py-4 sm:relative sm:border-none sm:bg-none sm:p-0"
        >
            <AnnotatedLink type="circle" staticUnderline={false} href="mailto" class:list={"top-4 left-4 sm:fixed"}>
                EMAIL
            </AnnotatedLink>
            <AnnotatedLink type="circle" staticUnderline={false} href="links" class:list={"top-4 right-4 sm:fixed"}>
                INDEX
            </AnnotatedLink>
        </nav>
        <main class="p-4 mt-24 flex flex-col items-center w-full">
            <div
                class="max-w-md
[&_>h1]:text-5xl [&_>h1]:font-semibold [&_>h1]:font-serif [&_>h1]:ligatures
[&_>p:first-of-type]:arrow-indent relative [&_>*]:pt-4"
            >
                <Content components={{ a: AnnotatedLink }} />
            </div>
            <div class="mt-20 -mb-8 max-w-lg">
                <img
                    src={p("2021-10-15-melted-moon-falmouth-bay").paths.large}
                />
            </div>
            <!-- <div class="mt-20">
                <img
                    src={p("la-corbiere-st-brelade-jersey-2024-05-25").paths.large}
                    style="border: 3px solid rgba(179, 113, 98, 0.2);"
                />
            </div> -->
        </main>
    </body>
</html>
