---
import Layout from "../components/layout_components/layout.astro";
import AnnotatedLink from "../components/prose_components/annotatedLink.astro";
import { LINKS } from "../lib/linkHelper";

const INDEX_LINKS = {
    Photo: {
        "order": 1,
        "Palimpsest": LINKS.palimpsest,
        "To Pigeon-Fill the Sky": LINKS.pigeon,
        "Lingermyth": LINKS.lingermyth,
        "Horizons": LINKS.horizons,
        "Heartland": LINKS.heartland,
    },
    Links: {
        order: 4,
        Bluesky: LINKS.bsky,
        Youtube: LINKS.youtube,
        Instagram: LINKS.instagram,
        Github: LINKS.github,
        Linkedin: LINKS.linkedin,
        Email: LINKS.email,
        // Info: LINKS.info,
    },
    Text: {
        "order": 2,
        "On Yearning": LINKS.yearn,
        "The List of the Wind": LINKS.wind,
        "The Man Upstairs": LINKS.upstairs,
        "A Necklace of Stars": LINKS.stars,
        "Rats: Oh Boy!": LINKS.rats,
        // "Fluffy Cloud": LINKS.fluffy,
    },
    Film: {
        "order": 3,
        "The Triumph of the Commons": LINKS.wiki,
        "Pizza, really fast": LINKS.pizza,
    },
    Sundry: {
        "order": 5,
        "Unfinished Songs": LINKS.songs,
        "Sancho Simulator": LINKS.sancho,
        "Wrap Map": LINKS.wrapmap,
    },
} as const;
---

<Layout title="Work" cover="2021-11-23-time-store-window-fowey" class="justify-center w-full min-h-svh">
    <div class="text-sm sm:fixed top-4 left-4 w-full px-8 mt-8 sm:m-0 sm:p-0 sm:w-auto">
        <AnnotatedLink href={LINKS.home} type="circle" staticUnderline={false}> &lt;- Home </AnnotatedLink>
    </div>
    <main class="flex flex-col sm:block sm:columns-2 w-full sm:w-auto mt-8 mb-24 ml-8">
        {
            Object.keys(INDEX_LINKS).map(g => {
                const links = Object.keys(INDEX_LINKS[g]);
                const order = INDEX_LINKS[g][links.shift()];
                return (
                    <div class="pb-4" style={`order: ${order};`}>
                        <h2 class="font-serif font-semibold text-xl ligatures">{g}</h2>
                        <ul>
                            {links.map(l => (
                                <li>
                                    <AnnotatedLink
                                        type="circle"
                                        staticUnderline={false}
                                        href={INDEX_LINKS[g][l]}
                                        class:list={"text-sm"}
                                    >
                                        {l}
                                    </AnnotatedLink>
                                </li>
                            ))}
                        </ul>
                    </div>
                );
            })
        }
    </main>
</Layout>
