---
import Layout from "../components/layout_components/layout.astro";
import AnnotatedLink from "../components/prose_components/annotatedLink.astro";
import { LINKS } from "../lib/linkHelper";
import { getPhotoByName as p } from "../lib/photoHelper";
---

<Layout includeBottomNav={false}>
    <main
        class="px-4 pt-20 mb-[50svh] sm:pt-[1.7rem] flex flex-col gap-64 w-full max-w-xl"
    >
        <figure>
            <img
                src={p("forest-library-isle-of-wight-2024-04-26").paths.medium}
                class="select-none border-[3px] border-[#C8CDB9]"
                draggable="false"
            />
            <figcaption class="font-semibold text-sm w-full p-2">
                {p("forest-library-isle-of-wight-2024-04-26").joinedCaption} From <AnnotatedLink href={LINKS.palimpsest}>Palimpsest</AnnotatedLink>.
            </figcaption>
        </figure>
        <figure>
            <img
                src={p("north-atlantic-pennance-point-2021-01-14").paths.medium}
                class="select-none border-[3px] border-[#e2e8f0]"
                draggable="false"
            />
            <figcaption class="font-semibold text-sm w-full p-2">
                {p("north-atlantic-pennance-point-2021-01-14").joinedCaption} From <AnnotatedLink href={LINKS.horizons}>Horizons</AnnotatedLink>.
            </figcaption>
        </figure>
        <figure>
            <div class="flex gap-4">
                <img
                    src={p("shed-train-window-weymouth-2024-09-03").paths.medium}
                    class="select-none w-[calc(50%_-_8px)]"
                    draggable="false"
                />
                <img
                    src={p("bear-witness-belsize-park-2024-05-17").paths.medium}
                    class="select-none border-[3px] border-black w-[calc(50%_-_8px)]"
                    draggable="false"
                />
            </div>
            <figcaption class="font-semibold text-sm w-full p-2">
                {p("bear-witness-belsize-park-2024-05-17").joinedCaption} From <AnnotatedLink href={LINKS.palimpsest}>Palimpsest</AnnotatedLink>.
            </figcaption>
        </figure>
        <figure>
            <img
                src={p("la-corbiere-st-brelade-jersey-2024-05-25").paths.medium}
                class="select-none shadow-[4px_4px_0_rgba(10,_114,_123,_0.09)]"
                draggable="false"
            />
            <figcaption class="font-semibold text-sm w-full p-2">
                {p("la-corbiere-st-brelade-jersey-2024-05-25").joinedCaption} From <AnnotatedLink href={LINKS.palimpsest}>Palimpsest</AnnotatedLink>.
            </figcaption>
        </figure>
        <!-- <div class="mb-[20svh] text-center font-semibold text-sm">
            <AnnotatedLink staticUnderline={false} type="circle"
                >INSTAGRAM</AnnotatedLink
            >
        </div> -->
    </main>
</Layout>
