---
import "../styles/global.css";
import { resolveImage } from "../lib/photoHelper";

interface Props {
    title?: string;
    cover?: string;
    description?: string;
}

const {
    title = "Duncan Petrie",
    cover = "2024-05-13-high-castle-london",
    description = "Duncan Petrie is a London-based photographer and writer from Milwaukee, Wisconsin. He explores nature in the human landscape, and what the world might look like when we are gone.",
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const coverImage = await resolveImage({ src: cover });
---

<meta charset="utf-8" />

<link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/apple-touch-icon.png"
/>
<link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/favicon-32x32.png"
/>
<link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/favicon-16x16.png"
/>

<link rel="manifest" href="/site.webmanifest" />
<link rel="canonical" href={canonicalURL} />
<meta name="viewport" content="width=device-width" />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(coverImage.src, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(coverImage.src, Astro.url)} />

<link rel="preload" href="/fonts/inter.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/inter-italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/junicode.woff2" as="font" type="font/woff2" crossorigin>